{% load compress %}
{% load staticfiles %}

{% compress js %}

<script src="http://maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-table/dist/ng-table.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ngmap/build/scripts/ng-map.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/app.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/home/map_controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/home/table_controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/home/nav_controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/home/location_service.js' %}"></script>

{% endcompress %}